<h1>Account requests</h1>

<table>
  <% @requests.each do |request| %>
      <tr>
        <td><%= request.user_id %></td>
      </tr>
      <% if request.private %>
      <tr>
        <td>Private</td>
      </tr>
          <% end %>
      <tr>
        <% if request.business %>
        <td>Business</td>
      </tr>
        <% end %>
      <tr>
        <td><%= button_to 'Accept', { controller: :admin, :action => :accept, :request_id => request.id},
                          { :method => :post} %></td>
      </tr>
      <tr>
        <td><%= button_to 'Reject',  { controller: :admin, :action => :reject, :request_id => request.id},
                          { :method => :post} %></td>
      </tr>


  <% end %>
</table>